html {
    scroll-behavior: smooth;
}

body {
    background-color: goldenrod;
    color: maroon ;  
}

h1 {
    text-align: justify;
}

p {
    text-align: justify;
    border: 1px solid black;
    padding: 12px;
    background-color: gold;
    border-radius: 10px;

}

.img {
    border: 10px solid maroon;
    border-radius: 25px;
    display: flex; 
    gap: 10em;
}

.gambar {
    display: flex;
    align-items: center;
    background-color: goldenrod;
    gap: 10em;
    justify-content: center;
    & img {
        width: 150px;
        height: auto;
        border: 10px solid maroon;
        border-radius: 25px;
    }
}

.koleksi {
    display: flex;
    gap: 5em;
    position: relative;
    justify-content: center;

    & img {
        width: 200px;
        height: 200px;
    }
}

.promo {
    text-align: center;

}

.eCommerce {
    display: flex;
    list-style: none;
    gap: 4em;
    justify-content: center;
}


.Logo {
    display: flex;
    gap: 4em;
    width: 5em;
    height: 5em;
    border-radius: 15%;
}

#navigasi {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: right;
    
    & ul {
        display: flex;
        background: gold;
        gap: 20px;
        list-style: none;
        padding: 8px 16px;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        box-shadow: 0 4px 8px black;
        transition: all 0.5s ea;
        
    }
        a {
            text-decoration: none;
            color: maroon;
            text-align: center;

        }
}

#profil {
    border: 1px solid black;
    border-radius: 10px;
    gap: 2em;
    background-color: gold;
}

@media (max-width: 768px) {
    .gambar,
    .koleksi,
    .eCommerce {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .img,
    .koleksi img,
    .Logo {
        width: 80%;
        height: auto;
    }

    #navigasi ul {
        flex-direction: column;
        align-items: center;
    }
}