body {
    background-image: linear-gradient(to right, #004e92, #000428); /* biru gelap elegan */

}

header {
    background-color: blue;
    padding: 1em 2em;
    margin-bottom: 1em;
}

header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0;
}

header li.logo {
    margin-right: auto;
}

header img {
    width: 40px;
    height: auto;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

header a:hover {
    color: lightyellow;
}

main {
    padding: 2em;
    text-align: left;
    background-color: #68b5f9;
}

main h3 {
    margin-bottom: 1em;
    color: navy;
}

main ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 2em;
    flex-wrap: wrap;
}
