.container {
            display: flex;
            justify-content: space-evenly;
            background-color: cyan;
            padding: 20px;
            border: 5px gray solid;
            border-radius: 5px;
            color: gray;
}

.container img {
            width: auto;
            height: 200px;
            border: 5px gray solid;
            border-radius: 50%;
}