 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

            /* DEBUG */
            /* border: 0.1em dotted red; */
        }

        /* container */
        .container {
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 1em;
            padding: 1em;
        }

        .box {
            border: 0.1em solid black;
            width: 100%;
            height: calc((100vh / 3) - 2em / 3);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2em;
        }

        .box-header {
            grid-column: 1 / span 2;
        }

        .bg-green {background-color: maroon;}
        .bg-yellow {background-color: blue;}
        .bg-red {background-color: goldenrod;}
        .bg-cyan {background-color: cyan;}