* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    background-color: aquamarine;
    height: 15vh;
    line-height: 15vh;
}

main {
    display: flex;
    height: 70vh;
    line-height: 70vh;
}

article {
    flex: 3;
    order: 2;
}

aside {
    flex: 1;
    background-color: maroon;
    order: 3;
}

nav {
    flex: 1;
    background-color: yellowgreen;
    order: 1;
}

footer {
    background-color: aquamarine;
    height: 15vh;
    line-height: 15vh;
}